.footer {
    color: #F4F3EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F4F3EE;
    padding: 1rem 2rem;
    height: 5vh;
}

h1 {
    font-size: 1rem;
    font-weight: normal;
    margin-left: none;
}

.emails h1 {
    text-align: right;
    font-size: 0.8rem;
}

.emails h1 a {
    color: #1ba6d0;
}